<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Comment #<%= @comment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/comments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @comment.commentor %>
          <a href="/comments/<%= @comment.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit comment
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @comment.commentor %>
          <a href="/delete_comment/<%= @comment.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete comment
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @comment.body %>
      </dd>

      <dt>
        Commentor
      </dt>
      <dd>
        <% if @comment.commentor.present? %>
          <a href="/users/<%= @comment.commentor_id %>">
            <%= @comment.commentor.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        User race
      </dt>
      <dd>
        <% if @comment.user_race.present? %>
          <a href="/user_races/<%= @comment.user_race_id %>">
            <%= @comment.user_race.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

