<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All user races
    </h1>

    <a href="/user_races/new" class="btn btn-block btn-outline-secondary">
      Add a new user race
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "user_race_templates/user_races_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Race
        </th>

        <th>
          Time
        </th>

        <th>
          Body
        </th>

        <th>
          Overall place
        </th>

        <th>
          Age group place
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @user_races.each do |user_race| %>
      <tr>
        <!-- Display user_race.id start -->
        <td>
          <%= user_race.id %>
        </td>
        <!-- Display user_race.id end -->

        <!-- Display user_race.user_id start -->
        <td>
          <% if user_race.user.present? %>
            <a href="/users/<%= user_race.user.id %>">
              <%= user_race.user.email %>
            </a>
          <% end %>
        </td>
        <!-- Display user_race.user_id end -->

        <!-- Display user_race.race_id start -->
        <td>
          <% if user_race.race.present? %>
            <a href="/races/<%= user_race.race.id %>">
              <%= user_race.race.name %>
            </a>
          <% end %>
        </td>
        <!-- Display user_race.race_id end -->

        <!-- Display user_race.time start -->
        <td>
          <%= user_race.time %>
        </td>
        <!-- Display user_race.time end -->

        <!-- Display user_race.body start -->
        <td>
          <%= user_race.body %>
        </td>
        <!-- Display user_race.body end -->

        <!-- Display user_race.overall_place start -->
        <td>
          <%= user_race.overall_place %>
        </td>
        <!-- Display user_race.overall_place end -->

        <!-- Display user_race.age_group_place start -->
        <td>
          <%= user_race.age_group_place %>
        </td>
        <!-- Display user_race.age_group_place end -->

        <!-- Display user_race.created_at start -->
        <td>
          <%= time_ago_in_words(user_race.created_at) %> ago
        </td>
        <!-- Display user_race.created_at end -->

        <!-- Display user_race.updated_at start -->
        <td>
          <%= time_ago_in_words(user_race.updated_at) %> ago
        </td>
        <!-- Display user_race.updated_at end -->

        <td>
          <a href="/user_races/<%= user_race.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @user_races, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
